## Class exercises:

Make a function that:

1. Create a data frame with this:

In [6]:
import pandas

names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
age=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

# Step 1: Create a dict. Needed to create a dataframe next
data={'names':names, 'woman':woman, 'age':age, 'country':country, 'education':education}
data

# Step 2: Create a dataframe
friends=pandas.DataFrame.from_dict(data)

friends

     names  woman  age  country education
0    Tom치s  False   32    Chile      Bach
1  Pauline   True   33  Senegal      Bach
2    Pablo  False   28    Spain    Master
3    Bjork  False   30   Norway       PhD
4     Alan  False   32     Peru      Bach
5    Juana   True   27     Peru    Master

2. Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

In [28]:
listoftuples=[(n,c) for (n,c) in zip(friends.names,friends.country)]
listoftuples

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

3. Implement a _for_ loop to count how many peruvian there are in the data frame. Try using **not** in one solution and **~** in another one.

In [43]:
# creating a new variable called counterofperuvian
# will code to count based on parameters below
counterofperuvian=0
for country in friends.country:
    if country=='Peru':
        counterofperuvian +=1
        
counterofperuvian

2

In [47]:
friends.where(friends.country=='Peru').dropna().shape[0]

2

4. Implement a _for_ loop to get the count of men. Try using **not** in one solution and **~** in another one.

In [54]:
counterofmen=0
for woman in friends.woman:
    if not woman:
        counterofmen +=1
        
counterofmen

4

In [70]:
counterofmen2=0
for woman in friends.woman:
    if woman==False:
        print (woman)
        counterofmen2 +=1
counterofmen2

# False is a boolean variable, so do not need '' - otherwise won't understand

False
False
False
False

4

In [64]:
counterofmen3=0
for man in ~friends.woman:
    if man:
        counterofmen3 +=1

counterofmen3

4

In [74]:
for val in friends.woman:
    if val:
        print(val)

True
True

In [81]:
sex=[True,False,True,True]

for element in sex:
    if element:
        print('got it')

got it
got it
got it

In [85]:
sex=['b','g','b','g']
for element in sex:
    if element=='b':
        print('yep')

yep
yep

In [72]:
list(zip(friends.woman,~friends.woman))

[(False, True),
 (True, False),
 (False, True),
 (False, True),
 (False, True),
 (True, False)]

In [98]:
counteducation=0
for element in friends.education:
    if element>"Bach":
        print('it is true')
        counteducation+=1
counteducation

it is true
it is true
it is true

3

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'ex_controlOfEx'.

## Homework

1. Implement a _for_ loop to get the count of men that have a Bach degree in the data frame. I recommend the use of **zip** (somwehere)

2. Implement a _for_ loop to get the count of people whose current age is an even number.

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_controlOfEx'.