Class exercises:

In [2]:
import pandas

In a new Jupyter notebook solve each excercise, and then upload them to GitHub. Name the notebook as 'ex_data_structures':

A. Turn this into a Data Frame name "friends":

For this, go to the class exercises page and see how to turn this data into a data frame

In [17]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

#Now turning it into a data frame - I think we are turning this into a dict, which is why we use these {} .
#Make sure all the categories are in the frame - names, woman, ages, country, education
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

#This command will put out a list, but it does not look like in any particular order
friends=pandas.DataFrame.from_dict(data)

# seeing it: In other words seeing the table again
friends

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

B. Answer the following:

In [7]:
# Who is the oldest person in this group of friends?
friends[friends.ages==max(friends.ages)].names

#.names will only show the names of the person who is the oldest. If we don't add this, we will get a list with all of the person's information

#This will then tell you the name of the oldest person

1    Pauline
Name: names, dtype: object

In [28]:
# How many people are 32?

friends[(friends.ages==32)]

#Output will show 2 people are 32

#If you want just a number, count, use len for this:
len(friends[friends.ages==32])

2

In [9]:
# How many are not Peruvian? (use two different codes)

friends[friends.country!="Peru"]

#Output will show that 4 people are not from Peru

     names  ages  country education
0    Tomás    32    Chile      Bach
1  Pauline    33  Senegal      Bach
2    Pablo    28    Spain    Master
3    Bjork    30   Norway       PhD

In [14]:
#Second code to show how many are not Peruvian
#creates label "Peruvian" based on if people are classifeid as "Peru" under Country
#This is a list because it is in square brackets []
Peruvian=["Peru"]

friends[~friends.country.isin(Peruvian)]

     names  ages  country education
0    Tomás    32    Chile      Bach
1  Pauline    33  Senegal      Bach
2    Pablo    28    Spain    Master
3    Bjork    30   Norway       PhD

In [15]:
# Who is the person with the highest level of education?
#sorting by the string data which is data with words, not numerical. Telling that it is strong data pf PhD

friends[friends.education=='PhD']

#Gives you a table with all the info of the person(s) with a PhD

   names  ages country education
3  Bjork    30  Norway       PhD

In [27]:
# what is the sex of the oldest person in the group?

friends[friends.ages==max(friends.ages)].woman 

#adding .woman will tell us if it is true that the max age person is a woman

1    True
Name: woman, dtype: bool

### Homework

If you have the query:

In [ ]:
# where is the youngest male in the group from?

a. Find the answer using *sort_values()*

b. Do some research and find the answer using *[where()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

c. Do some research and find the answer using *[query()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_data_structures'.

____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_1)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)