### Homework

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_data_structures'.

In [5]:
import pandas

names=["Thomas", "Pauline", "Pablo", "Bjork", "Alan", "Juana"]
woman=[False, True, False, False, False, True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway", "Peru", "Peru"]
education=["Bach", "Bach", "Master", "PhD", "Bach", "Master"]

#Turning above into dict and giving it the name 'data'
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

#Now creating a data frame
friends=pandas.DataFrame.from_dict(data)

#Now we want to see how it looks
friends

     names  woman  ages  country education
0   Thomas  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

If you have the query:

In [ ]:
# where is the youngest male in the group from?

a. Find the answer using *sort_values()*

b. Do some research and find the answer using *[where()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

c. Do some research and find the answer using *[query()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)* and *[min()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)*

Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_data_structures'.